<br />

<div gg-lexical-entry-form-modal></div>

<div class="row">
    <div class="col-md-3" gg-language-selector language="language"></div>

    <div class="col-md-7">
        <form name="searchForm" ng-submit="searchEntries()" novalidate>
            <div class="input-group">
                <input name="search"
                       class="form-control"
                       ng-model="search"
                       required />
                <span class="input-group-btn">
                    <button type="submit"
                           ng-class="searchForm.$valid || 'disabled'"
                           class="btn btn-primary" >
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Search
                    </button>
                </span>
            </div>
        </form>
    </div>

    <div class="col-md-2">
        <button type="button"
                class="btn btn-success"
                gg-lexical-entry-form-modal-button
                gg-model="lexicalEntry"
                gg-success="onEntryCreated()"
                aria-expanded="false">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New Entry
        </button>
    </div>
</div>

<hr />

<h4>{{ listTitle }}</h4>

<table class="table">
    <tr ng-repeat="lex in lexicalEntries">
        <td>
            <a ui-sref="lexicalEntry({id: lex.id})">
                <span gg-lang-lemma lang-code="language.code" model="lex.lemma"></span>
            </a>
        </td>
    </tr>
</table>
