<h2>Lexical Entry</h2>

<div id="options" class="panel panel-default" style="float: right;">
    <div class="panel-heading">
        <h3 class="panel-title">Configuration</h3>
    </div>
    <div class="panel-body">
        <language-selector value="secondLanguage"></language-selector>
        <hr />
        <language-config lang="lexicalEntry.language" config="langConfig"></language-config>
    </div>
</div>

<h2>
    <lemma value="lexicalEntry.lemma" lang="lexicalEntry.language" />
    <span class="badge">{{ lexicalEntry.partOfSpeech.name }}</span>
</h2>

<dd>
    <ol class="senses">
        <li class="sense" ng-repeat="sense in lexicalEntry.senses">
            <div class="equivalents">
                <span ng-repeat="eq in sense.equivalents | language:secondLanguage">
                    <equivalent value="eq" lang="secondLanguage" />
                    <span ng-show="! $last">; </span>
                </span>
            </div>

            <ul class="definitions">
                <li class="definition" ng-repeat="def in sense.definitions | language:secondLanguage">
                    @todo
                </li>
            </ul>        

            <ul class="sentences">
                <li ng-repeat="sentence in sense.sentences">
                    <example value="sentence" lang="sentence.language" sec-lang="secondLanguage" config="langConfig"/>
                </li>
            </ul>
        </li>
    </ol>
</dd>
