<h2>Lexical Entry</h2>

<dt>
    <lemma value="lexicalEntry.lemma" lang="lexicalEntry.language" />
    <span class="badge">{{ partOfSpeech }}</span>
</dt>
<dd>
    <ol class="senses">
        <li class="sense" ng-repeat="sense in lexicalEntry.senses">

            <div class="equivalents">
                <span ng-repeat="eq in sense.equivalents">
                    <equivalent value="eq" lang="secondLanguage" />
                    <span ng-show="! $last">; </span>
                </span>
            </div>

            <ul class="definitions">
                <li class="definition" ng-repeat="def in sense.definitions">
                </li>
            </ul>        

            <ul class="sentences">
                <li ng-repeat="sentence in sense.sentences">
                    <example value="sentence" lang="sentence.language" sec-lang="secondLanguage"/>
                </li>
            </ul>
        </li>
    </ol>
</dd>
