<h2>Lexical Entry</h2>

<dt>
    <lemma value="lexicalEntry.lemma" lang="lexicalEntry.language" />
    <span class="badge">{{ partOfSpeech }}</span>
</dt>
<dd>
    <ol class="senses">
        <li class="sense" ng-repeat="sense in lexicalEntry.senses">

            <span ng-repeat="eq in sense.equivalents">
                <equivalent value="eq" lang="secondLanguage" />
                <span ng-show="! $last">; </span>
            </span>

            <ul class="definitions">
                <li class="definition" rg-repeat="def in sense.definitions">
                    {{ def }}
                    {{ englishTranslation(def) }}
                </li>
            </ul>        
            <ul class="sentences">
                <li class="sentence" rg-repeat="sentence in sense.sentences">
                    {{ sentence }}
                    <span>
                        <ruby>
                            {{ simplified(sentence) }}
                            <rp>(</rp>
                            <rt>{{ pinyin(sentence) }}</rt>
                            <rp>)</rp>
                        </ruby>
                    </span>
                    <span>
                        {{ englishTranslation(sentence) }}
                    </span>
                </li>
            </ul>
        </li>
    </ol>
</dd>
