<h2>Lexical Entry</h2>

<div id="options" style="float: right;">
    <div gg-settings-panels first-language="lexicalEntry.language" second-language="secondLanguage"></div>
</div>

<h2>
    <span gg-language-text type="lemma" language="lexicalEntry.language" data="lexicalEntry.lemma"></span>
    <span class="badge">{{ lexicalEntry.partOfSpeech.name }}</span>
</h2>

<dd>
    <ol class="senses">
        <li class="sense" ng-repeat="sense in lexicalEntry.senses">
            <div class="equivalents">
                <span ng-repeat="eq in sense.equivalents | language:secondLanguage">
                    <span gg-language-text type="text" language="secondLanguage" data="eq"></span>
                    <span ng-show="! $last">; </span>
                </span>
            </div>

            <div class="definitions">
                <span ng-repeat="def in sense.definitions | language:secondLanguage">
                    <span gg-language-text type="text" language="secondLanguage" data="def"></span>
                    <span ng-show="! $last">; </span>
                </span>
            </div>        

            <ul class="sentences">
                <li ng-repeat="sentence in sense.sentences">
                    <span gg-language-text type="text" language="sentence.language" data="sentence"></span>
                    <span gg-language-text type="text" language="secondLanguage" data="sentence.translations | language:secondLanguage | first"></span>
                </li>
            </ul>

        </li>
    </ol>
</dd
