<form name="signUpForm" class="form-signin" ng-submit="signUp(signUpForm.$valid)" novalidate>

    <div class="form-group">
        <label for="email">Email address</label>
        <input name="email"
               type="email"
               class="form-control"
               placeholder="email"
               ng-model="user.email"
               required />
        <div ng-messages="signUpForm.email.$error" role="alert" ng-if="signUpForm.email.$dirty || submitted">
            <!-- Client side validation error messages  -->
            <div ng-message="required">You forgot the email address.</div>
            <div ng-message="email">That is not a well formed email address.</div>
            <!-- Server side validation error messages  -->
            <div ng-repeat="error in serverErrors.email">{{ error }}</div>
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input name="password"
               type="password"
               class="form-control"
               placeholder="password"
               ng-model="user.password"
               ng-minlength="8"
               required />
        <div ng-messages="signUpForm.password.$error" ng-if="signUpForm.password.$dirty || submitted">
            <div ng-message="required">You forgot the password.</div>
            <div ng-message="minlength">Password must contain at least 8 characters.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="passwordConfirmation">Confirm password</label>
        <input name="passwordConfirmation"
               type="password"
               class="form-control"
               placeholder="confirm password"
               ng-model="user.passwordConfirmation"
               match="user.password"
               required />
        <div ng-messages="signUpForm.passwordConfirmation.$error" ng-if="signUpForm.passwordConfirmation.$dirty || submitted">
            <div ng-message="required">You forgot the password confirmation.</div>
            <div ng-message="match">Password confirmation do not match.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="acceptTerms">
            <input type="checkbox" name="acceptTerms" ng-model="user.acceptTerms" required>
            Accept terms
        </label>
        <div ng-messages="signUpForm.acceptTerms.$error" ng-if="signUpForm.acceptTerms.$dirty || submitted">
            <div ng-message="required">You must accept the terms.</div>
        </div>
    </div>

    <input type="submit" class="btn btn-lg btn-primary" value="Create Account" style="float: right;" />
</form>
