<br />

<div class="row">
    <div class="col-md-3" gg-language-selector language="language"></div>

    <div class="col-md-7">
        <form name="searchForm" ng-submit="searchEntries()" novalidate>
            <div class="input-group">
                <input name="search"
                       class="form-control"
                       ng-model="search"
                       required />
                <span class="input-group-btn">
                    <input type="submit"
                           ng-class="searchForm.$valid || 'disabled'"
                           class="btn btn-primary"
                           value="Search" />
                </span>
            </div>
        </form>
    </div>

    <div class="col-md-2">
        <button type="button" ng-click="newEntry()" class="btn btn-success" aria-expanded="false">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New Entry
        </button>
    </div>
</div>

<hr />

language: {{ language }}
