<br />

<div class="row">
    <div class="col-md-3" gg-language-selector language="language"></div>

    <div class="col-md-7">
        <form name="searchForm" ng-submit="searchEntries()" novalidate>
            <div class="input-group">
                <input name="search"
                       class="form-control"
                       ng-model="search"
                       required />
                <span class="input-group-btn">
                    <button type="submit"
                           ng-class="searchForm.$valid || 'disabled'"
                           class="btn btn-primary" >
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Search
                    </button>
                </span>
            </div>
        </form>
    </div>

    <div class="col-md-2">
        <button type="button"
                class="btn btn-success"
                data-toggle="modal"
                data-target="#newEntryModal"
                aria-expanded="false">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New Entry
        </button>
    </div>
</div>

<div id="newEntryModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New {{ language.name }} Entry</h4>
            </div>
            <div class="modal-body">
                <form name="newEntryForm"
                      class="form-horizontal"
                      ng-submit="createEntry()"
                      novalidate >

                    <div gg-language-text-form language="language.code" form="lexicalEntry.lemma"></div>

                    <input type="submit"
                           ng-class="lexicalEntry.lemma.representations.length === 0 && 'disabled'"
                           class="btn btn-success"
                           value="Create Entry" />
                </form>
            </div>
        </div>
    </div>
</div>

<hr />

<h4>{{ listTitle }}</h4>

<table class="table">
    <tr ng-repeat="lex in lexicalEntries">
        <td>
            <span gg-language-text type="lemma" language="language.code" data="lex.lemma"></span>
        </td>
    </tr>
</table>
