<div ng-if="!langComp" ng-controller="TextFormCtrl">
    <div class="form-group">
        <label for="writtenForm" class="col-sm-3 control-label">{{ representationName }}</label>
        <div class="col-sm-9">
            <input name="writtenForm"
                   class="form-control"
                   autocomplete="off"
                   required />
        </div>
    </div>
</div>

<div ng-if="langComp"
     ng-include="langComp.templateUrl"
     ng-controller="langComp.controller"></div>
