<div ng-if="!langComp" ng-controller="LangTextFormCtrl">
    <div class="form-group">
        <label for="writtenForm" class="col-sm-3 control-label">{{ reprName }}</label>
        <div class="col-sm-9">
            <input name="writtenForm"
                   class="form-control"
                   ng-model="representation.writtenForm"
                   autocomplete="off"
                   required />
        </div>
    </div>
</div>

<div ng-if="langComp" ng-include="langComp.templateUrl"></div>
