{{ representations }}

<div ng-controller="cmnLanguageTextFormCtrl">

    <div class="form-group">
        <label for="writtenForm" class="col-sm-3 control-label">Simplified</label>
        <div class="col-sm-9">
            <input name="simplified"
                   class="form-control"
                   ng-model="simplified.writtenForm"
                   autocomplete="off"
                   required />
        </div>
    </div>

    <div class="form-group">
        <label for="writtenForm" class="col-sm-3 control-label">Traditional</label>
        <div class="col-sm-9">
            <input name="traditional"
                   class="form-control"
                   ng-model="traditional.writtenForm"
                   autocomplete="off"
                   required />
        </div>
    </div>

    <div class="form-group">
        <label for="writtenForm" class="col-sm-3 control-label">Pinyin</label>
        <div class="col-sm-9">
            <input name="pinyin"
                   class="form-control"
                   ng-model="pinyin.writtenForm"
                   autocomplete="off"
                   required />
        </div>
    </div>

</div>
