<div class="form-group">
    <label for="writtenForm" class="col-sm-3 control-label">Simplified</label>
    <div class="col-sm-9">
        <input name="simplified"
               class="form-control"
               autocomplete="off"
               required />
    </div>
</div>

<div class="form-group">
    <label for="writtenForm" class="col-sm-3 control-label">Traditional</label>
    <div class="col-sm-9">
        <input name="traditional"
               class="form-control"
               autocomplete="off"
               required />
    </div>
</div>

<div class="form-group">
    <label for="writtenForm" class="col-sm-3 control-label">Pinyin</label>
    <div class="col-sm-9">
        <input name="pinyin"
               class="form-control"
               autocomplete="off"
               required />
    </div>
</div>

