<form name="signInForm" class="form-signin" ng-submit="signIn(signInForm.$valid)" novalidate>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email"
               class="form-control"
               placeholder="email"
               name="email"
               ng-model="user.email"
               required />
        <div ng-messages="signInForm.email.$error" ng-if="signUpForm.email.$dirty || submitted">
            <div ng-message="required">You forgot the email address.</div>
            <div ng-message="email">That is not a well formed email address.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               placeholder="password"
               name="password"
               ng-model="user.password"
               required />
        <div ng-messages="signInForm.password.$error" ng-if="signUpForm.email.$dirty || submitted">
            <div ng-message="required">You forgot the password.</div>
        </div>
    </div>

    <!-- Server side validation error messages  -->
    <div ng-if="serverError">{{ serverError }}</div>

    <input type="submit" class="btn btn-primary" value="Sign in" style="float: right;" />
</form>
