<!DOCTYPE html>
<html ng-app="golyglot">

<head>
    <title>Golyglot</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>

<body ng-controller="AppCtrl">

    <div ng-include="'header/header.html'"></div>

    <div class="main-view-wrapper container">
        <div ui-view class="main-view-container starter-template">

        </div>
    </div>


    <footer>

    </footer>


</body>

</html>


